@model Financeiro.Models.Entidades.ContaAPagar
@using Financeiro.Models.Entidades
@using Financeiro.Models.Dao
@using Financeiro.Models.Enums
@{
    ViewBag.Title = "Inclusão de Conta para Fornecedor";
    Layout = "~/Views/Shared/_PartialLayout.cshtml";
}

<fieldset>
    <legend>Nova Conta para Fornecedor</legend>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <div class="col-md-2 col-sm-2">
            <div class="form-group">
                <label for="EhAVista" class="control-label"><i class="fa fa-credit-card"></i> A Vista</label><br />
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default">
                        @Html.RadioButtonFor(f => f.EhAVista, 1) Sim
                    </label>
                    <label class="btn btn-default">
                        @Html.RadioButtonFor(f => f.EhAVista, 0) Não
                    </label>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-2">
            <div class="form-group">
                <label for="Situacao" class="control-label"><i class="fa fa-dot-circle-o"></i> Situação</label><br />
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default">
                        @Html.RadioButtonFor(f => f.Situacao, 1, new { @class = "Situacao" }) Pago
                    </label>
                    <label class="btn btn-default active">
                        @Html.RadioButtonFor(f => f.Situacao, 0, new { @class = "Situacao", @checked = "checked" }) A Pagar
                    </label>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-2" id="form-baixa" style="display: none">
            <div class="form-group">
                <label for="DataBaixa" class="control-label"><i class="fa fa-calendar"></i> Data da Baixa</label>
                @Html.TextBoxFor(f => f.DataBaixa, new { type = "date", @class = "form-control", @disabled = "disabled" })
            </div>
        </div>
        <div class="col-md-3 col-sm-3">
            <div class="form-group">
                <label for="TipoDespesaId" class="control-label"><i class="fa fa-ticket"></i> Tipo de Despesa</label>
                <select name="TipoDespesaId" id="TipoDespesaId" class="form-control" data-val="true" data-val-required="Informe o Tipo de Despesa!">
                    <option value="">Selecione</option>
                    @{ var tipoDespesas = new List<TipoDespesa>().SelecionarOnde(x => x.Categoria == (int)ECategoria.Fornecedor); }
                    @foreach (var t in tipoDespesas)
                    {
                        <option value="@t.Id" title="@t.Descricao">@t.Nome</option>
                    }
                    @{ tipoDespesas = null; }
                </select>
            </div>
        </div>
        <div class="col-md-2 col-sm-2">
            <div class="form-group">
                <label for="FavorecidoId" class="control-label"><i class="fa fa-users"></i> Favorecido</label>
                <select name="FavorecidoId" id="FavorecidoId" class="form-control" data-val="true" data-val-required="Informe o Favorecido da Conta!">
                    <option value="">Selecione</option>
                    @{ var fornecedores = new List<Fornecedor>().Selecionar(); }
                    @foreach (var f in fornecedores)
                    {
                        <option value="@f.Id" title="@f.Descricao">@f.NomeFantasia</option>
                    }
                    @{ fornecedores = null; }
                </select>
            </div>
        </div>
        <div class="col-md-2 col-sm-2">
            <div class="form-group">
                <label for="Data" class="control-label"><i class="fa fa-calendar"></i> Data</label>
                @Html.TextBoxFor(f => f.Vencimento, new { type = "date", @class = "form-control" })
            </div>
        </div>
        <div class="col-md-2 col-sm-2">
            <div class="form-group">
                <label for="FormeDeEntrega" class="control-label"><i class="fa fa-motorcycle"></i> Forma de Entrega</label>
                @Html.DropDownList("FormaDeEntrega", EnumHelper.GetSelectList(typeof(EFormaEntrega)), new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-2 col-sm-2" id="form-transp" style="display: none">
            <div class="form-group">
                <label for="TransportadoraId" class="control-label"><i class="fa fa-truck"></i> Transportadora</label>
                <select name="TransportadoraId" id="TransportadoraId" class="form-control" disabled>
                    <option value="-1">MaquiADORO</option>
                    @{ var transportadoras = new List<Fornecedor>().SelecionarOnde(x => x.EhTransportador == (int)ESimOuNao.Sim); }
                    @foreach (var t in transportadoras)
                    {
                        <option value="@t.Id" title="@t.Descricao">@t.NomeFantasia</option>

                    }
                    @{ transportadoras = null; }
                </select>
            </div>
        </div>
        <div class="col-md-2 col-sm-2">
            <div class="form-group">
                <label for="strValorPrevisto" class="control-label"><i class="fa fa-money"></i> Valor Previsto</label>
                @Html.TextBoxFor(f => f.strValorPrevisto, new { placeholder = "0,00", @class = "form-control" })
            </div>
        </div>
        <div class="col-md-3 col-sm-3">
            <div class="form-group">
                <label for="Descricao" class="control-label"><i class="fa fa-commenting"></i> Descrição</label>
                @Html.TextAreaFor(f => f.Descricao, new { @class = "form-control" })
            </div>
        </div>
        <hr class="col-md-12 col-sm-12" />
        <div class="col-md-12 col-sm-12 form-group text-center">
            <input type="submit" class="btn btn-primary" value="Incluir" />
        </div>
                        }
</fieldset>
<script>
    $(document).ready(function () {
        //$("#Vencimento").mask("99/99/9999");
        var date = new Date();
        var mm = (date.getMonth() + 1).toString();
        mm = mm[1] ? mm : "0" + mm[0];
        $("#Vencimento").val(date.getFullYear() + "-" + mm + "-" + date.getDate());

        $(".Situacao").change(function () {
            var op = $(this).val();
            if (op == 1) {
                $("#form-baixa").css("display", "block");
                $("#DataBaixa").removeAttr("disabled");
            } else {
                $("#form-baixa").css("display", "none");
                $("#DataBaixa").attr("disabled", "disabled");
            }
        });

        $("#FormaDeEntrega").change(function () {
            var op = $(this).find(":selected").val();
            if (op != 1) {
                $("#form-transp").css("display", "block");
                $("#TransportadoraId").removeAttr("disabled");
            } else {
                $("#form-transp").css("display", "none");
                $("#TransportadoraId").attr("disabled", "disabled");
            }
        });

        //$("#DataBaixa").mask("99/99/9999");
        var date = new Date();
        var mm = (date.getMonth() + 1).toString();
        mm = mm[1] ? mm : "0" + mm[0];
        $("#DataBaixa").val(date.getFullYear() + "-" + mm + "-" + date.getDate());

        $("#strValorPrevisto").keyup(function () {
            var er = /[^0-9.,]/;
            er.lastIndex = 0;
            var campo = this;
            if (er.test(campo.value)) {
                campo.value = "";
            }
        });
    });
</script>
