@using Financeiro.Controllers.Auth
@model Financeiro.Models.Entidades.Fornecedor
@{
    ViewBag.Title = "Novo Fornecedor";
    Layout = "~/Views/Shared/_PartialLayout.cshtml";
}

<fieldset>
    <legend>Novo Fornecedor</legend>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <div class="col-md-12">
            <div class="form-group">
                <label for="EhTransportador" class="control-label">É Transportador?</label>
                @Html.RadioButtonFor(f => f.EhTransportador, 1) Sim
                @Html.RadioButtonFor(f => f.EhTransportador, 0, new { @checked = "checked" }) Não
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="RazaoSocial" class="control-label">Razão Social</label>
                @Html.TextBoxFor(f => f.RazaoSocial, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="NomeFantasia" class="control-label">Nome Fantasia</label> @Html.ValidationMessageFor(f => f.NomeFantasia)
                @Html.TextBoxFor(f => f.NomeFantasia, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="CNPJ" class="control-label">CNPJ</label>
                @Html.TextBoxFor(f => f.CNPJ, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="Email" class="control-label">E-mail</label>
                @Html.TextBoxFor(f => f.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="Fone1" class="control-label">Fone 1</label>
                @Html.TextBoxFor(f => f.Fone1, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="Fone2" class="control-label">Fone 2</label>
                @Html.TextBoxFor(f => f.Fone2, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <label for="Descricao" class="control-label">Descrição</label>
                @Html.TextAreaFor(f => f.Descricao, new { @class = "form-control" })
            </div>
        </div>
        if (Authorizations.Is("Administrativo"))
        {
            <div class="col-md-2">
                <div class="form-group">
                    <label for="DataCadastro" class="control-label">Data de Cadastro</label>
                    @Html.TextBoxFor(f => f.DataCadastro, new { @class = "form-control" })
                </div>
            </div>
        }
        <hr class="col-md-12" />
        <div class="col-md-3">
            <div class="form-group">
                <label for="Logradouro" class="control-label">Logradouro</label>
                @Html.TextBoxFor(f => f.Logradouro, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-1">
            <div class="form-group">
                <label for="Numero" class="control-label">Nº</label>
                @Html.TextBoxFor(f => f.Numero, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="Complemento" class="control-label">Complemento</label>
                @Html.TextBoxFor(f => f.Complemento, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="Bairro" class="control-label">Bairro</label>
                @Html.TextBoxFor(f => f.Bairro, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="Municipio" class="control-label">Município</label>
                @Html.TextBoxFor(f => f.Municipio, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="Estado" class="control-label">Estado (ou UF)</label>
                @Html.TextBoxFor(f => f.Estado, new { @class = "form-control" })
            </div>
        </div>
        <hr class="col-md-12" />
        <div class="col-md-12 form-group text-center">
            <input type="submit" class="btn btn-primary" value="Cadastrar" />
        </div>
    }
</fieldset>
<script>
    $(document).ready(function () {
        $("#CNPJ").mask("99.999.999/9999-99");
        $("#Fone1").mask("(99) 99999-9999");
        $("#Fone2").mask("(99) 99999-9999");
    });
</script>
@if (Authorizations.Is("Administrativo"))
{
    <script>
        $(document).ready(function () {
            $("#DataCadastro").mask("99/99/9999");
            var date = new Date();
            var mm = (date.getMonth() + 1).toString();
            mm = mm[1] ? mm : "0" + mm[0];
            $("#DataCadastro").val(date.getDate() + "/" + mm + "/" + date.getFullYear());
        });
    </script>
}