@model Financeiro.Models.Entidades.Destinatario
@{
    ViewBag.Title = "Novo Funcionário";
    Layout = "~/Views/Shared/_PartialLayout.cshtml";
}

<fieldset>
    <legend>Novo Funcionário</legend>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <div class="col-md-6">
            <div class="form-group">
                <label for="Nome" class="control-label">Nome</label> @Html.ValidationMessageFor(f => f.Nome)
                @Html.TextBoxFor(f => f.Nome, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label for="Apelido" class="control-label">Apelido</label> @Html.ValidationMessageFor(f => f.Apelido)
                @Html.TextBoxFor(f => f.Apelido, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label for="CPF" class="control-label">CPF</label> @Html.ValidationMessageFor(f => f.CPF)
                @Html.TextBoxFor(f => f.CPF, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label for="Descricao" class="control-label">Descrição</label> @Html.ValidationMessageFor(f => f.Descricao)
                @Html.TextAreaFor(f => f.Descricao, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="Email" class="control-label">E-mail</label> @Html.ValidationMessageFor(f => f.Email)
                @Html.TextBoxFor(f => f.Email, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label for="Telefone" class="control-label">Telefone</label> @Html.ValidationMessageFor(f => f.Telefone)
                @Html.TextBoxFor(f => f.Telefone, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label for="CelularFuncionario" class="control-label">Celular</label> @Html.ValidationMessageFor(f => f.CelularFuncionario)
                @Html.TextBoxFor(f => f.CelularFuncionario, new { @class = "form-control" })
            </div>
        </div>
        <hr class="col-md-12" />
        <div class="col-md-12 form-group text-center">
            <input type="submit" class="btn btn-primary" value="Cadastrar" />
        </div>
    }
</fieldset>
<script>
    $(document).ready(function () {
        $("#CPF").mask("999.999.999-99");
        $("#Telefone").mask("(99) 9999-9999");
        $("#CelularFuncionario").mask("(99) 99999-9999");
    });
</script>
