@model Financeiro.Models.Entidades.Usuario
@{
    ViewBag.Title = "Novo Usuário";
    Layout = "~/Views/Shared/_PartialLayout.cshtml";
}
<fieldset>
    <legend>Novo Usuário</legend>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <div class="col-md-6">
            <div class="form-group">
                <label for="Nome" class="control-label">Nome</label> @Html.ValidationMessageFor(u => u.Nome)
                @Html.TextBoxFor(u => u.Nome, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label for="Apelido" class="control-label">Apelido</label> @Html.ValidationMessageFor(u => u.Apelido)
                @Html.TextBoxFor(u => u.Apelido, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label for="SenhaCadastro" class="control-label">Senha</label> @Html.ValidationMessageFor(u => u.SenhaCadastro)
                @Html.TextBoxFor(u => u.SenhaCadastro, new { @class = "form-control", type = "password" })
            </div>
            <div class="form-group">
                <label for="RepSenha" class="control-label">Confirme a Senha</label> @Html.ValidationMessageFor(u => u.RepSenha)
                @Html.TextBoxFor(u => u.RepSenha, new { @class = "form-control", type = "password" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="Email" class="control-label">E-mail</label> @Html.ValidationMessageFor(u => u.Email)
                @Html.TextBoxFor(u => u.Email, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label for="Telefone" class="control-label">Telefone</label> @Html.ValidationMessageFor(u => u.Telefone)
                @Html.TextBoxFor(u => u.Telefone, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label for="Celular" class="control-label">Celular</label> @Html.ValidationMessageFor(u => u.Celular)
                @Html.TextBoxFor(u => u.Celular, new { @class = "form-control" })
            </div>
        </div>
        <hr class="col-md-12" />
        <div class="col-md-12 form-group">
            <label for="Nivel" class="control-label">Nível Administrativo</label> @Html.ValidationMessageFor(u => u.Nivel)
            @Html.EnumDropDownListFor(u => u.ENivel, "Selecione o Nível", new { @class = "form-control" })
        </div>
        <hr />
        <div class="col-md-12 form-group text-center">
            <input type="submit" class="btn btn-primary" value="Cadastrar" />
        </div>
    }
</fieldset>
<script>
    $(document).ready(function () {
        $("#Telefone").mask("(99) 9999-9999");
        $("#Celular").mask("(99) 99999-9999");
    });
</script>